<p id="notice"><%= notice %></p>

<p>
  <b>Cart Id:</b>
  <%= @basket_item.cart_id %>
</p>

<p>
  <b>Productid:</b>
  <%= @basket_item.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @basket_item.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @basket_item.quantity %>
</p>


<%= link_to 'Edit', edit_basket_item_path(@basket_item) %> |
<%= link_to 'Back', basket_items_path %>
