<p id="notice"><%= notice %></p>
<div class="row">
<h2>Obsah košíku:</h2>
<div id="cart">
	<%= render @cart %>
</div>
<%= form_for @user, :url => url_for(:controller => 'carts', :action => 'confirm', :id => @cart.id), :method => :post do |f| %>
<%= label_tag :email, "Email:" %> <%= f.text_field :email %>
<p>
<%= radio_button_tag :delivery, "personal", false, :onchange => 'showDelivery()', :class => 'delivery' %> <b>Osobní předání v Praze</b>
<div class="paragraph-indent" id="personal-delivery">
	Místo a čas předání s Tebou domluvíme emailem.<br />
	Doručení je zdarma.<br />
	Platba při předání.<br />
</div>
</p>
<p>
<%= radio_button_tag :delivery, "post", false, :onchange => 'showDelivery()' %> <b>Doručení Českou poštou</b>
<div class="paragraph-indent" id="post-delivery">
	Účtujeme navíc <b>100Kč</b> za poštovné a balné.<br />
	Platbu je třeba provést předem převodem. Detaily platby se Ti zobrazí po potvrzení objednávky.<br />
	Zásilku ti odešleme po zaúčtování platby.<br />
	Jméno: <%= f.text_field :name %><br />
	Příjmení: <%= f.text_field :surname %><br />
	Ulice a č.p.: <%= f.text_field :street %><br />
	Pošta (obec): <%= f.text_field :city %><br />
	PSČ: <%= f.text_field :zipCode %>
</div>
</p>
<p>
	<%= radio_button_tag :delivery, "party", false, :onchange => 'showDelivery()' %> <b>Vyzvednutí na maté párty</b>
	<div class="paragraph-indent" id="party-delivery">
		K vyzvednutí na maté párty
	</div>
</p>
<%= text_area_tag(:message, "Prostor pro další sdělení", size: "24x6") %>
<%= f.submit 'Objednat' %>
<% end %>
</div>