<p id="notice"><%= notice %></p>

<p>
  <b>Orderid:</b>
  <%= @order_item.orderId %>
</p>

<p>
  <b>Productid:</b>
  <%= @order_item.productId %>
</p>

<p>
  <b>Price:</b>
  <%= @order_item.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order_item.quantity %>
</p>


<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
