<div class="row">
    <p id="notice">
        <%= notice %>
    </p>    
    <div class="two columns"></div>
    <div class="eight columns">
    	<h1>Naše nabídka</h1>
    	<table id="product-list">
    		<% i=0 %>    		
        	<% @products.each do |product| %>
        		<% if i % 2 == 0 %>
        			<tr>
        		<% end %>             	
            <td>
            	<%= link_to(product) do %>
                <div class="name">
                     <%= product.name %> (<%= number_to_human(product.weight) %>g)
                </div>
                <div class="description">
                    <%= product.descriptionS %>
                </div>
                <%= image_tag product.image_medium.url(:medium) %>
                <div class="price">
                    <%= number_to_human(product.price) %>Kč
                </div>
            	<br />
            	<%= product.stock %>&nbsp;ks
            	<% end %>
            </td>            
            <% i=i+1 %>
            <% if i % 2 == 0 %>
        		</tr>
        	<% end %>                    
        <% end %>
        </table>
    </div>
    <div class="two columns"></div>
</div>
