<div class="row">
    <p id="notice">
        <%= notice %>
    </p>    
    <div class="one column"></div>
    <div class="ten columns">
    	<h3>Naše nabídka</h3>
    	<table id="product-list">
    		<% i=0 %>    		
        	<% @products.each do |product| %>
        		<% if i % 3 == 0 %>
        			<tr>
        		<% end %>             	
            <td>
            	<%= link_to(product) do %>
                <div class="name">
                     <%= product.name %> (<%= number_to_human(product.weight) %>g)
                </div>
                <div class="description">
                    <%= product.descriptionS %>
                </div>
                <%= image_tag product.image_large.url(:medium), :size => "200x200" %>
                <div class="price">
                    <%= number_to_human(product.price) %>Kč
                </div>
            	<% end %>
            </td>            
            <% i=i+1 %>
            <% if i % 3 == 0 %>
        		</tr>
        	<% end %>                    
        <% end %>
        <% if i % 3 != 0 %>
        	</tr>
        <% end %>
        </table>
    </div>
    <div class="one column"></div>
</div>
