<!DOCTYPE html>
<html>
  <head>
	<title>TumatemateWeb</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  </head>
  <body>
	<div class="filling-top"></div>
	<div class="top-stripe">
	  <div class="top-menu">
		<%= image_tag "../images/logo.png", :class => "logo-image" %>
		<ul class="semiopaquemenu">
		  <li><a href="preparation">Příprava maté</a></li>
		  <li><a href="maintenance">Návody</a></li>
		  <li><a href="conditions">Obchodní podmínky</a></li>
		  <li><a href="warranty">Reklamační řád</a></li>
		  <li><a href="contacts">Kontakty</a></li>
		</ul>
	  </div>
	</div>

	<div class="middle-stripe-bounds">
	  <%= yield %>
	</div>
	<div class="filling-bottom"></div>
	<div class="bottom-bar"></div>
  </body>
</html>
