<!DOCTYPE html>
<html lang="cs">
	<head>
		<title>Tu máte maté - stránky ve vývoji</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="filling-top"></div>
		<div class="top-stripe">
			<div class="top-menu">
				<%= image_tag "../images/logo.png", :class => "logo-image" %>
				<ul class="semiopaquemenu">
					<li>
						<%= link_to "Obchod", products_path %>
					</li>
					<li>
						<%= link_to "Příprava maté", :controller => "manual_pages", :action => "preparation" %>
					</li>
					<li>
						<%= link_to "Návody", :controller => "manual_pages", :action => "maintenance" %>
					</li>
					<li>
						<%= link_to "Obchodní podmínky", :controller => "manual_pages", :action => "conditions" %>
					</li>
					<li>
						<%= link_to "Reklamační řád", :controller => "manual_pages", :action => "warranty" %>
					</li>
					<li>
						<%= link_to "Kontakty", :controller => "manual_pages", :action => "contacts" %>
					</li>
				</ul>
			</div>
		</div>

		<div class="middle-stripe-bounds">			
			<p class="alert">
				<%= alert %>
			</p>
			<%= yield %>
		</div>
		<div class="filling-bottom"></div>
		<div class="bottom-bar"></div>
	</body>
</html>
